<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Feliz dia das mães</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
<div class=container>
    <video autoplay muted loop id="myVideo">
        <source src="Images/heart background.mp4" type="video/mp4">
    </video>
</div>
<div class="centered">
    <form action="/msg" method="post">
        <h2>Preencha para entrar!</h2>
        <div>
            <label for="nome">Digite seu nome:</label>
            <input type="text" name="nome" id="nome" required />
        </div>
        <div>
            <p>
                <button type="submit">Entrar</button>
            </p>
        </div>
    </form>
</div>
</form>
</container>
</body>
</html>